.wp-pagenavi{clear:both;}
.wp-pagenavi a, .wp-pagenavi span{text-decoration:none;border:1px solid #BFBFBF;padding:3px 5px;margin:2px;}
.wp-pagenavi a:hover, .wp-pagenavi span.current{border-color:#000;}
.wp-pagenavi span.current {
font-weight: bold;
}.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper{display:flex;flex-wrap:wrap;}
#billing_first_name_field,
#shipping_first_name_field{order:1;}
#billing_last_name_field,
#shipping_last_name_field{order:2;}
#billing_company_field,
#shipping_company_field{order:3;}
#billing_country_field,
#shipping_country_field{order:4;}
#billing_state_field,
#shipping_state_field{order:5;}
#billing_city_field,
#shipping_city_field{order:6;}
#billing_address_1_field,
#shipping_address_1_field{order:7;}
#billing_address_2_field,
#shipping_address_2_field{order:8;}
#billing_postcode_field,
#shipping_postcode_field{order:9;}
#billing_phone_field,
#shipping_phone_field{order:10;}
#billing_email_field,
#shipping_email_field {
order: 11;
}.entry-content .addthis_button,.entry-content .addthis_toolbox,.entry-header .addthis_button,.entry-header .addthis_toolbox{margin:10px 0 10px 0}
.addthis_button_tweet{min-width:83px;float:left}
.atwidget iframe{max-width:none}
a.at-share-btn,a.at-share-btn:hover,div.addthis_native_toolbox a,div.addthis_native_toolbox a:hover,div.addthis_tool a,div.addthis_tool a:hover,div.addthis_toolbox a,div.addthis_toolbox a:hover{border:0;box-shadow:none;-webkit-box-shadow:none}
div.addthis_toolbox br{display:none}